html {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #fff;
}

h1 {
    font-weight: 300;
}
h2 {
    background-color: #fff;
    color: #222;
    padding: .3em .3em .3em .7em;
    font-style: italic;
}
h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 0.2em;
}
.btn {
    color: #222;
    background-color: white;
    font-size: 1.2em;
    display: inline-block;
    padding: .4em;
    cursor: pointer;
    border-radius: .2em;
    text-decoration: none;
}

.btn.right {
    margin-left: 0;
    border-left: 0.1em solid #555;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn.left {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn img {
    width: 0.8em;
}


.btn img.with-text {
    margin-right: .4em;
}

.btn img.alone {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.download-section {
    margin-bottom: 1em;
}

.download-group {
    display: inline-block;
    margin: 0.2em;
}